<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.shrinkwizard.helper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/Shrink Wizard</string>
	<key>ProgramArguments</key>
	<array>
		<string>Contents/MacOS/Shrink Wizard</string>
		<string>Contents/Resources/app.asar/dist-electron/main/compression/daemon/daemon.js</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ELECTRON_RUN_AS_NODE</key>
		<string>1</string>
		<key>LISTEN_FD</key>
		<string>3</string>
	</dict>
	<key>Sockets</key>
	<dict>
		<key>HelperSocket</key>
		<dict>
			<key>SockPathName</key>
			<string>/var/run/com.shrinkwizard.sock</string>
			<key>SockPathMode</key>
			<integer>438</integer>
		</dict>
	</dict>
</dict>
</plist>
