body {
    font-family:Arial;
    font-size:1em;
    line-height:1.5em
}
 #container{
    min-width:700px
}
 #header {
    font-size:1.5em;
    font-weight:bold;
    line-height:0.5em
}
 #header .fix{
    position:absolute;
    top:50px;
    left:100px;
    text-align:right
}
 #header .ver{
    font-size:0.5em;
    font-weight:normal
}
 #menu{
    border-top:4px #e0ecff solid;
    padding:1em
}
 #paths{
    padding:0.5em 1em;
    height:18em;
    overflow:auto
}
 #paths div:nth-child(odd){
    background:#f0f0f0;
}
 #paths div{
    margin-bottom:0.3em
}
 .typeDir{
    border-radius:5px
}
 .delDir,.btn{
    font-weight:bold;
    text-align:center
}
 .btn{
    border:none;
    padding:0.7em 0;
    border-radius:0.7em;
    font-size:0.9em;
    width:10em
}
 .btn:hover,.typeDir:hover,.delDir:hover{
    background: #a1dbff;
    cursor:pointer
}
 .green{
    color:#006400
}
 .red, .delDir{
    color:#ff0000
}
 .blue{
    color:#4169E1
}
 #pathsHead{
    background:#555;
    padding:5px 0;
    padding-left:1em;
    color:#fff
}
 #pathsHead span, .typeDir, .delDir{
    display:inline-block
}
 .typeDir, .typeDirHead{
    width:6em;
    margin-right:0.8em;
    text-align:center;
}
 .delDir, .delDirHead{
    width:2em;
    margin-right:0.8em
}
 .typeDir, .delDir, .btn{
     background:#e0ecff;
    border:1px solid #4169e1 
}
 .typeDirDisable{
     background:#eee;
    border:1px solid #ccc;
    color:#bbbbbb 
}
 .hide{
    display:none
}
