#progressBarOuter {
    background-color: #dddddd;
    height:25px;
    width:100%;
    border: 2px solid #888888;
    display: none;
    text-align:center;
}

#progressBarInner {
    background-color: #99FFaa;
    height:100%;
}

#progressBarText {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size:18px;
}



#languagePacksModal {
    display: block; 
    position:absolute;
    top:10vh;
    left:10vw;
    z-index:2; 
    width:80vw;
    height:80vh;
    background-color:#222222;
    overflow:scroll;
}

#languagePacksBackground {
    display: block; 
    position:absolute;
    top:0;
    left:0;
    z-index:1; 
    width:100vw;
    height:100vh;
    background-color:#000000bb;
}




/*Remove the margin on the paragraph element containing the location*/
.location {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*Header for selected files */
#selectedItemsHeader{
    font-family:Arial;
    line-height:1.5em;
}

/*Container holding all the selected files*/
#selectedItems {
    font-family:Arial;
    font-size:1em;
    line-height:1.5em;
    max-height:65vh;
    overflow:auto;
    background:#eeeeee;
}

h1 {
    text-align:center;
}







#header {
    font-size:1.5em;
    font-weight:bold;
    line-height:0.5em
}
#header .fix{
    position:absolute;
    top:50px;
    left:100px;
    text-align:right
}
#header .ver{
    font-size:0.5em;
    font-weight:normal
}
#menu{
    padding:1em;
}


/*Color every second selected item slightly darker*/
.selectedItem:nth-child(odd){
    background:#f0f0f0;
}



#selectedPathsContainer div{
    margin-bottom:0.3em
}
.mode{
    border-radius:5px
}
.delDir,.btn{
    font-weight:bold;
    text-align:center
}
.btn{
    border:none;
    padding:0.7em 0;
    border-radius:0.7em;
    font-size:0.9em;
    width:10em;
    line-height:1.5em;
}
.btn:hover,.mode:hover,.delDir:hover{
    background: #a1dbff;
    cursor:pointer
}
.green{
    color:#006400
}
.red, .delDir{
    color:#ff0000
}
.blue{
    color:#4169E1
}
#selectedItemsHeader{
    background:#555;
    padding:5px 0;
    padding-left:1em;
    color:#fff
}
#selectedItemsHeader span, .mode, .delDir{
    display:inline-block
}
.mode, .typeDirHead{
    width:6em;
    margin-right:0.8em;
    text-align:center;
}
.delDir, .delDirHead{
    width:2em;
    margin-right:0.8em
}
.mode, .delDir, .btn{
    background:#e0ecff;
    border:1px solid #4169e1 
}
.modeExcluded{
    background:#eee;
    border:1px solid #ccc;
    color:#bbbbbb 
}
.hide{
    display:none
}

